nav {
  font-size: 20px;
  display: grid;
  /* "Pets", "Travel", "Recipes" */
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  justify-content: center;
  justify-self: center;
  align-content: center;
}

.navbar {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  /* "Pets", "Travel", "Recipes" */
  border-radius: 10px;
  justify-content: center;
  justify-self: center;
  align-content: center;
}

nav li {
  display: inline-block;
  padding: 5px;
}

.navbar a {
  display: inline-block;
  padding: 5px;
}

nav a {
  padding: 10px;
}

#bottomp {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#bottomnav {
  margin-left: 5px;
  margin-right: 5px;
}

#currentpage {
  text-decoration: underline white;
} 

.main {
  display: none;
}

body {
  scroll-behavior: smooth;
  background-color: #b823b5ba;
  font-family: 'YummyCupcakes';
  color: white;

  font-size: 30px;
  letter-spacing: 2px;
}

main {
    display: grid;
    grid-template-rows: 500px auto 550px auto 600px;
}

.div1 {
    grid-row: 1 / span 1;
    background-image: url(../images/debutback.JPG);
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
}

#fearlessdiv1 {
  background-image: url(../images/fback.JPG);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#speaknowdiv1 {
  background-image: url(../images/snback3.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#reddiv1 {
  background-image: url(../images/redback.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ninediv1 {
  background-image: url(../images/nineback.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#repdiv1 {
  background-image: url(../images/repback.jpeg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#loverdiv1 {
  background-image: url(../images/loverback.JPG);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#folklorediv1 {
  background-image: url(../images/folkloreback.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#evermorediv1 {
  background-image: url(../images/evermoreback.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#midnightsdiv1 {
  background-image: url(../images/midnightsback.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

figure {
  padding: 80px;
  overflow: visible;
}



@font-face {
  font-family: 'YummyCupcakes';
  src: url('../fonts/overall/YummyCupcakes.woff2') format('woff2'),
      url('../fonts/overall/YummyCupcakes.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


 body {
  scroll-behavior: smooth;
  background-color: #34a649bb;
  font-family: 'YummyCupcakes';
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
}

.bodyf {
  background-color: #8e720eb2;
}

.bodysn {
  background-color: rgba(143, 36, 143, 0.736);
}

.bodyred {
  background-color: rgba(142, 8, 8, 0.805);
}

.bodynine {
  background-color: rgba(29, 127, 202, 0.733);
}

.bodyrep {
  background-color: rgb(72, 72, 72);
}

.bodylover {
  background-color: rgba(241, 36, 135, 0.498);
}

.bodyfolklore {
  background-color: grey;
}

.bodyevermore {
  background-color: rgba(186, 87, 11, 0.821);
}

.bodymidnights {
  background-color: rgba(16, 25, 151, 0.897);
}


 p {
  font-size: 20px;
  text-indent: 50px;
  line-height: 40px;
  margin: 50px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

figcaption {
  font-size: 20px;
  text-align: center;
}

#faves {
  position: absolute;
  text-indent: 0px;
  top: 0px;
}

.rep {

  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-justify: center;
  justify-content: center;
  padding: 0;

}

.rep > img, #image1, #image2 {
  -webkit-box-shadow: 0 0 20px 10px #ffffff78;
  -moz-box-shadow: 0 0 20px 10px #ffffff78;
  box-shadow: 0 0 20px 10px #ffffff78;
}

#reputation {
  text-align: center;
  font-size: large;
}



.div2 {
  grid-row: 2 / span 1;
}

.div4 {
  grid-row: 4 / span 1;
}

.img1, .img2, .img3 {
  width: 300px;
  height: 300px;
  margin: auto;
}

.div5 {
  grid-row: 5 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}








/* music player */

.div3 {
  grid-row: 3 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.div3 > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.music-player {
  width: 350px;
  height: fit-content;
  border-radius: 20px;
  background: rgb(255, 255, 255, 0.08);
  padding: 30px;
  overflow: hidden;
  color: white;
  margin-left: 100px;
}

.music-name, .artist-name {
  text-align: center;
}

.music-name {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  text-wrap: wrap;
}

.artist-name {
  font-size: 20px;
  margin-top: -15px;
  padding-right: 0px;
  -webkit-text-stroke: 0.1px black;
  text-indent: 0px;
  line-height: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30%;
}

.disk {
  position: relative;
  display: block;
  margin-right: 100px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: black;
  margin-right: 100px;
  background-image: url('../musicimages/cover1.png');
  background-size: cover;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}

#diskf1 {
  background-image: url('../musicimages/fearlesscover1.png');
}

#disksn {
  background-image: url('../musicimages/sncover2.jpg') !important;
}

#diskred {
  background-image: url('../musicimages/reddisc.jpg');
}

#disknine {
  background-image: url('../musicimages/ninedisc.jpg') !important;
}

#diskrep {
  background-image: url('../musicimages/repdisc.jpg') !important;
}

#disklover {
  background-image: url('../musicimages/loverdisc.jpg') !important;
}

#diskfolklore {
  background-image: url('../musicimages/folkloredisc.jpg') !important;
}

#diskevermore {
  background-image: url('../musicimages/evermoredisc.jpg') !important;
}

#diskmidnights {
  background-image: url('../musicimages/midnightsdisc2.jpg') !important;
}

.disk.play {
  animation-play-state: running;
}

.disk::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #34a649bb;
}

#diskf1::before {
  background: #8e720eb2;
}

#disksn::before {
  background: rgba(143, 36, 143, 0.736);
  top: 49.5%;
  left: 50.5%;
}

#diskred::before {
  background: rgba(142, 8, 8, 0.805);
  width: 55px;
  height: 55px;
}

#disknine::before {
  background: rgba(29, 127, 202, 0.733);;
}

#diskrep::before {
  background: rgb(72, 72, 72);
}

#disklover::before {
  background: rgba(241, 36, 135, 0.498);
}

#diskfolklore::before {
  background: grey;
}

#diskevermore::before {
  background: rgba(186, 87, 11, 0.821);
}

#diskmidnights::before {
  background: rgba(16, 25, 151, 0.897);
}

.song-slider {
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  margin-top: 80px;
}

.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #34a649bb;
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 15px;
  border-radius: 50%;
  box-shadow: -400px 0 0 400px #247332f9;
}

#seek-barf {
  background: #8e720eb2;
}

#seek-barf::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px #5b4805b2;;
}

#seek-barsn {
  background: rgba(143, 36, 143, 0.736);
}

#seek-barsn::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(95, 28, 95, 0.845);
}

#seek-barred {
  background: rgba(142, 8, 8, 0.805);
}

#seek-barred::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(83, 5, 5, 0.805);
}

#seek-barnine {
  background: rgba(29, 127, 202, 0.733);
}

#seek-barnine::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(9, 72, 119, 0.733);
}

#seek-barrep {
  background: rgb(72, 72, 72);
}

#seek-barrep::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgb(34, 34, 34);
}

#seek-barlover {
  background: rgba(241, 36, 135, 0.498);
}

#seek-barlover::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(241, 36, 135, 0.747);
}

#seek-barfolklore {
  background: grey;
}

#seek-barfolklore::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgb(83, 83, 83);
}

#seek-barevermore {
  background: rgba(186, 87, 11, 0.821);
}

#seek-barevermore::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(138, 63, 6, 0.813);
}

#seek-barmidnights {
  background: rgba(16, 25, 151, 0.897);;
}

#seek-barmidnights::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(2, 6, 61, 0.897);
}

.current-time, .song-duration {
  font-size: 14px;
}

.current-time {
  position: absolute;
  left: 0;
  bottom: 0;
}

.song-duration {
  position: absolute;
  right: 0;
  bottom: 0;
}

.controls {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

.play-btn, .backward, .forward {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.806);
  cursor: pointer;
  border: none;
}

.play-btn span {
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #34a649bb;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#play-btnf span, #backwardf span, #forwardf span {
  background: #948435cb;
}

#play-btnsn span, #forwardsn span, #backwardsn span {
  background: rgba(143, 36, 143, 0.736);
}

#play-btnred span, #forwardred span, #backwardred span {
  background: rgba(142, 8, 8, 0.805);;
}

#play-btnnine span, #forwardnine span, #backwardnine span {
  background: rgba(29, 127, 202, 0.733);;
}

#play-btnrep span, #forwardrep span, #backwardrep span {
  background: rgb(72, 72, 72);
}

#play-btnlover span, #forwardlover span, #backwardlover span {
  background: rgba(241, 36, 135, 0.498);
}

#play-btnfolklore span, #forwardfolklore span, #backwardfolklore span {
  background: grey;
}

#play-btnevermore span, #forwardevermore span, #backwardevermore span {
  background: rgba(186, 87, 11, 0.821);
}

#play-btnmidnights span, #forwardmidnights span, #backwardmidnights span {
  background: rgba(16, 25, 151, 0.897);;
}

.backward span {
  position: absolute;
  top: 50%;
  left: 31%;
  transform: translateY(-50%);
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: #34a649bb;
  clip-path: polygon(65% 0, 100% 0, 35% 50%, 100% 100%, 65% 100%, 0 50%);
}

.forward span {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translateY(-50%);
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: #34a649bb;
  transition: 0.5s;
  clip-path: polygon(0 0, 35% 0, 100% 50%, 35% 100%, 0 100%, 65% 50%);
}

.play-btn span:nth-child(2) {
  left: 57%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.btn {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.806);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  border-radius: 10%;
}

#funfacts {
  position: relative;
  text-indent: 0px;
  margin: 0px;
  width: 100vw;
  text-align: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin: auto auto;
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(63, 110, 71, 0.536);
  color: white;
  transform: rotateY(180deg);
}

#flip-card-backf {
  background-color: #7a691391;
}

#flip-card-backsn {
  background-color: #64137a91;
}

#flip-card-backred {
  background-color: #6f0b0b91;
}

#flip-card-backnine {
  background-color: #10427b91;
}

#flip-card-backrep {
  background-color: #313131ba;
}

#flip-card-backlover {
  background-color: rgba(241, 36, 135, 0.444);
}

#flip-card-backfolklore {
  background-color: rgb(105, 105, 105);
}

#flip-card-backevermore {
  background-color: rgba(168, 78, 9, 0.631);
}

#flip-card-backmidnights {
  background-color: rgba(2, 12, 156, 0.897);
}

.flip-card-back > p {
  margin-top: 70px;
  text-indent: 0px;
}