nav {
  font-size: 20px;
  display: grid;
  /* "Pets", "Travel", "Recipes" */
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  justify-content: center;
  justify-self: center;
  align-content: center;
}

.navbar {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  /* "Pets", "Travel", "Recipes" */
  border-radius: 10px;
  justify-content: center;
  justify-self: center;
  align-content: center;
}

nav li {
  display: inline-block;
  padding: 5px;
}

.navbar a {
  display: inline-block;
  padding: 5px;
}

nav a {
  padding: 10px;
}

a[href="#skip"] {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: white;
  background-color: #0000008e;
  border: solid 2px white;
  transform: translateY(-100%);
}

a[href="#skip"]:focus {
  transform: translateY(0%);
  font-size: 17px;
  top: 75px;
  z-index: 300;
}

nav a:focus {
  border: 2px solid black;
}

.backward:focus-visible, .play-btn:focus-visible, .forward:focus-visible {
  border: 2px solid rgb(0, 0, 0);
}

.navbar a:focus {
  border: 2px solid black;
}

#bottomp {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#bottomnav {
  margin-left: 5px;
  margin-right: 5px;
}

#currentpage {
  text-decoration: underline black;
} 

body {
  scroll-behavior: smooth;
  background-color: #b823b5ba;
  font-family: 'YummyCupcakes';
  color: black;

  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  overflow: auto;

}

main {
    display: grid;
    grid-template-rows: 500px auto auto auto auto;
}

.div1 {
    grid-row: 1 / span 1;
    background-image: url(../images/debutback.JPG);
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}

#fearlessdiv1 {
  background-image: url(../images/fback.JPG);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  overflow: hidden;
}

#speaknowdiv1 {
  background-image: url(../images/snback4.jpg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  overflow: hidden;
}

#reddiv1 {
  background-image: url(../images/redback.jpg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  overflow: hidden;
}

#ninediv1 {
  background-image: url(../images/nineback9.jpg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  overflow: hidden;
}

#repdiv1 {
  background-image: url(../images/repback.jpeg);
  overflow: hidden;
    justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}

#loverdiv1 {
  background-image: url(../images/loverback.jpg);
  overflow: hidden;
    justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}

#folklorediv1 {
  background-image: url(../images/folkloreback.jpg);
  overflow: hidden;
    justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}

#evermorediv1 {
  background-image: url(../images/evermoreback.jpg);
  overflow: hidden;
    justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}

#midnightsdiv1 {
  background-image: url(../images/midnightsback.jpg);
  overflow: hidden;
    justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}

figure {
  overflow: visible;
  align-items: center;
  justify-content: center;
}



@font-face {
  font-family: 'YummyCupcakes';
  src: url('../fonts/overall/YummyCupcakes.woff2') format('woff2'),
      url('../fonts/overall/YummyCupcakes.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


 body {
  scroll-behavior: smooth;
  background-color: #29a542a4;
  font-family: 'YummyCupcakes';
  color: black;
  font-size: 30px;
  letter-spacing: 2px;

}

.bodyf {
  background-color: #c2a642b7;
}

.bodysn {
  background-color: #c455c4b6;
}

.bodyred {
  background-color: rgba(120, 12, 12, 0.852);
  color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.bodyred #currentpage {
  text-decoration: underline white;
} 

.bodyred .music-player {
  color: white;
}

.bodynine {
  background-color: #1174b1ae;
}

.bodyrep {
  background-color: rgba(33, 33, 33, 0.933);
  color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.bodyrep #currentpage {
  text-decoration: underline white;
} 

.bodyrep .music-player {
  color: white;
}

.bodylover {
  background-color: rgba(255, 135, 195, 0.731);
}

.bodyfolklore {
  background-color: rgba(128, 128, 128, 0.705);
}

.bodyevermore {
  background-color: rgba(184, 61, 0, 0.743);
}

.bodymidnights {
  background-color: rgb(34, 53, 128);
  color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.bodymidnights #currentpage {
  text-decoration: underline white;
} 

.bodymidnights .music-player {
  color: white;
}


 p {
  font-size: 20px;
  line-height: 40px;
  margin: 50px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

figcaption {
  font-size: 15px;
  text-align: center;
}

#faves {
  position: absolute;
  text-indent: 0px;
  top: 0px;
}

.rep {

  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-justify: center;
  justify-content: center;
  padding: 0;

}

.rep > img, #image1, #image2 {
  -webkit-box-shadow: 0 0 20px 10px #ffffff78;
  -moz-box-shadow: 0 0 20px 10px #ffffff78;
  box-shadow: 0 0 20px 10px #ffffff78;
}

#reputation {
  text-align: center;
  font-size: large;
}



.div2 {
  grid-row: 2 / span 1;
}

.div4 {
  grid-row: 4 / span 1;
}

.img1, .img2, .img3 {
  width: 200px;
  height: 200px;
  margin: auto;
}

#image1, #image2 {
  width: 200px;
  height: 200px;
  margin: auto;
}

.div5 {
  grid-row: 5 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}








/* music player */

.div3 {
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: max-content;
  position: relative;
}

.div3 > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.music-player {
  width: 350px;
  height: fit-content;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.191);
  padding: 30px;
  overflow: hidden;
  color: black;
  margin-top: 60px;
}

.music-name, .artist-name {
  text-align: center;
}

.music-name {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  text-wrap: wrap;
}

.artist-name {
  font-size: 20px;
  margin-top: -15px;
  padding-right: 0px;
  -webkit-text-stroke: 0.1px white;
  text-indent: 0px;
  line-height: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30%;
}

.disk {
  position: relative;
  display: block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: white;
  background-image: url('../musicimages/cover1.png');
  background-size: cover;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
  margin-top: 80px;
}

#diskf1 {
  background-image: url('../musicimages/fearlesscover1.png');
}

#disksn {
  background-image: url('../musicimages/sncover2.jpg') !important;
}

#diskred {
  background-image: url('../musicimages/reddisc.jpg');
}

#disknine {
  background-image: url('../musicimages/ninedisc.jpg') !important;
}

#diskrep {
  background-image: url('../musicimages/repdisc.jpg') !important;
}

#disklover {
  background-image: url('../musicimages/loverdisc.jpg') !important;
}

#diskfolklore {
  background-image: url('../musicimages/folkloredisc.jpg') !important;
}

#diskevermore {
  background-image: url('../musicimages/evermoredisc.jpg') !important;
}

#diskmidnights {
  background-image: url('../musicimages/midnightsdisc2.jpg') !important;
}

.disk.play {
  animation-play-state: running;
}

.disk::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #29a542a4;
}

#diskf1::before {
  background: #c2a642b7;
}

#disksn::before {
  background: #c455c4b6;
  top: 49.5%;
  left: 50.5%;
}

#diskred::before {
  background: rgba(120, 12, 12, 0.852);
  width: 55px;
  height: 55px;
}

#disknine::before {
  background: #1174b1ae;
}

#diskrep::before {
  background: rgba(33, 33, 33, 0.933);
}

#disklover::before {
  background: rgba(255, 135, 195, 0.731);
}

#diskfolklore::before {
  background: rgba(128, 128, 128, 0.705);
}

#diskevermore::before {
  background: rgba(143, 56, 13, 0.854);
}

#diskmidnights::before {
  background: rgb(34, 53, 128);
}

.song-slider {
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  margin-top: 80px;
}

.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #29a542a4;
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 15px;
  border-radius: 50%;
  box-shadow: -400px 0 0 400px #247332f9;
}

#seek-barf {
  background: #c2a642b7;
}

#seek-barf::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px #806608ac;;
}

#seek-barsn {
  background: #c455c4b6;
}

#seek-barsn::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(139, 37, 139, 0.68);
}

#seek-barred {
  background: rgba(120, 12, 12, 0.852);
}

#seek-barred::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgb(80, 3, 3);
}

#seek-barnine {
  background: #1174b1ae;
}

#seek-barnine::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px #053e61ae;
}

#seek-barrep {
  background: rgba(33, 33, 33, 0.743);
}

#seek-barrep::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(0, 0, 0, 0.876);
}

#seek-barlover {
  background: rgba(255, 135, 195, 0.731);
}

#seek-barlover::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(241, 36, 135, 0.747);
}

#seek-barfolklore {
  background: rgba(128, 128, 128, 0.705);
}

#seek-barfolklore::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgb(83, 83, 83);
}

#seek-barevermore {
  background: rgba(184, 61, 0, 0.743);
}

#seek-barevermore::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgba(88, 39, 1, 0.674);
}

#seek-barmidnights {
  background: rgb(34, 53, 128);
}

#seek-barmidnights::-webkit-slider-thumb {
  box-shadow: -400px 0 0 400px rgb(11, 23, 70);
}

.current-time, .song-duration {
  font-size: 14px;
}

.current-time {
  position: absolute;
  left: 0;
  bottom: 0;
}

.song-duration {
  position: absolute;
  right: 0;
  bottom: 0;
}

.controls {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

.play-btn, .backward, .forward {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  border: none;
}

.play-btn span {
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #29a542a4;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#play-btnf span, #backwardf span, #forwardf span {
  background: #c2a642b7;
}

#play-btnsn span, #forwardsn span, #backwardsn span {
  background: #c455c4b6;
}

#play-btnred span, #forwardred span, #backwardred span {
  background: rgba(120, 12, 12, 0.852);
}

#play-btnnine span, #forwardnine span, #backwardnine span {
  background: #1174b1ae;
}

#play-btnrep span, #forwardrep span, #backwardrep span {
  background: rgba(33, 33, 33, 0.933);
}

#play-btnlover span, #forwardlover span, #backwardlover span {
  background: rgba(255, 135, 195, 0.731);
}

#play-btnfolklore span, #forwardfolklore span, #backwardfolklore span {
  background: rgba(128, 128, 128, 0.705);
}

#play-btnevermore span, #forwardevermore span, #backwardevermore span {
  background: rgba(184, 61, 0, 0.743);
}

#play-btnmidnights span, #forwardmidnights span, #backwardmidnights span {
  background: rgb(34, 53, 128);
}

.backward span {
  position: absolute;
  top: 50%;
  left: 31%;
  transform: translateY(-50%);
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: #29a542a4;
  clip-path: polygon(65% 0, 100% 0, 35% 50%, 100% 100%, 65% 100%, 0 50%);
}

.forward span {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translateY(-50%);
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: #29a542a4;
  transition: 0.5s;
  clip-path: polygon(0 0, 35% 0, 100% 50%, 35% 100%, 0 100%, 65% 50%);
}

.play-btn span:nth-child(2) {
  left: 57%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.btn {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.806);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  border-radius: 10%;
}


#funfacts {
  position: relative;
  text-indent: 0px;
  margin: auto;
  text-align: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin: auto auto;
  background-color: transparent;
  width: 225px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-top: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:focus .flip-card-inner {
  border: 2px solid black;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(46, 122, 62, 0.347);
  color: black;
  transform: rotateY(180deg);
}

#flip-card-backf {
  background-color: #8e780a5a;
}

#flip-card-backsn {
  background-color: #910db538;
}

#flip-card-backred {
  background-color: #47030350;
  color: white;
}

#flip-card-backnine {
  background-color: #1174b179;
}

#flip-card-backrep {
  background-color: #1b1b1b8a;
  color: white;
}

#flip-card-backlover {
  background-color: rgba(209, 58, 131, 0.352);
}

#flip-card-backfolklore {
  background-color: rgba(70, 70, 70, 0.203);
}

#flip-card-backevermore {
  background-color: rgba(106, 35, 0, 0.259);
}

#flip-card-backmidnights {
  background-color: rgba(6, 20, 76, 0.356);
  color: white;
}

.flip-card-back p {
  margin: 40% 15px;
  font-size: 15px;
  line-height: 20px;
  text-indent: 0px;
}

@media only screen and (min-width: 600px) {

  main {
    grid-template-rows: 500px auto auto auto 600px;
  }

  .div5 {
    flex-direction: row;
  }

  .flip-card {
    width: 225px;
    height: 300px;
    margin: auto auto;
  }

  #image1, #image2 {
    width: 250px;
    height: 250px;
  }

  figcaption {
    color: white;
    font-size: 20px;
  }

  .flip-card-back p {
    margin: 30% 30px;
    font-size: 16px;
    line-height: 23px;
    text-indent: 0px;
  }

}

@media only screen and (min-width: 768px) {

  main {
    grid-template-rows: 500px auto 550px auto 600px;
  }

  #image1, #image2 {
    width: 300px;
    height: 300px;
  }

  .div3 {
    flex-direction: row;
  }

  .flip-card {
    width: 300px;
    height: 400px;
  }

  .flip-card-back p {
    margin: 30% 50px;
    font-size: 20px;
    line-height: 28px;
    text-indent: 0px;
  }

}