@font-face {
    font-family: 'IM FELL DW Pica';
    src: url('IM_FELL_DW_Pica_Italic.woff2') format('woff2'),
        url('IM_FELL_DW_Pica_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

