@font-face {
    font-family: 'OPTIEngraversOldEnglish';
    src: url('OPTIEngraversOldEnglish.woff2') format('woff2'),
        url('OPTIEngraversOldEnglish.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Love';
    src: url('Love.woff2') format('woff2'),
        url('Love.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

