@font-face {
    font-family: 'YummyCupcakes';
    src: url('YummyCupcakes.woff2') format('woff2'),
        url('YummyCupcakes.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

