@font-face {
    font-family: 'Satisfaction';
    src: url('Satisfaction.woff2') format('woff2'),
        url('Satisfaction.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

